<app-header titulo="cards"></app-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Dragon Ball</ion-card-subtitle>
      <ion-card-title>Episodios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Rápida descripción que vamos a realizar a los personajes que existen en la serie.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img src="https://media.revistagq.com/photos/6092742a235a5910299c918b/master/pass/dragon-ball-goku-entrenamiento-dieta-musculos.jpg">
    <ion-card-content>
      Kakaroto es el personaje principal de la serie, tambien conocido como Goku!.
    </ion-card-content>
  </ion-card>
</ion-content>
